<div class='container'>
    <h1>Chat Room</h1>
    <div class='row'>
        <div class='col-3'>
            <form>
                <div class="form-group">
                    <label for="message">Send message</label>
                    <input class='form-control' placeholder="message" name="message" [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
                </div>
                <button class="btn btn-primary" (click)="sendMessage()">Send</button>
            </form>
            <div class="form-inline mb-2">
                <label for="nickname">Set Nickname</label>
                <input class='form-control' placeholder="nickname" name="nickname" [(ngModel)]="nickname" />
            </div>
            <div class="container">
                <p>
                    {{ chukjoke }}
                </p>
            </div>
        </div>
        <div class='col-9'>
            <h4>You are chatting as {{parseNickname(nickname)}}</h4>
            <div>
                <div class='card' 
                     *ngFor="let message of messages.slice(0,100) | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                    <div class="card-body">
                        <h5 class="card-title">{{ parseNickname(message.nickname) }}:</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Written at: {{ message.timestamp }}</h6>
                        <p class="card-text">{{message.content}}</p>
                    </div>
                </div>
            </div>
            <ngb-pagination [pageSize]="pageSize" [collectionSize]="messages.slice(0, 100).length" [(page)]="page" [maxSize]="3" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
        </div>
    </div>
</div>

<!--<router-outlet></router-outlet>-->